In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/anzarhussain/Documents/House_Price/notebook/Data/gemstone.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
df=df.drop(labels="id", axis=1)

In [6]:
x=df.drop(labels="price",axis=1)
y=df['price']

In [7]:
x.head()

   carat        cut color clarity  depth  table     x     y     z
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77

In [8]:
categorical_cols=x.select_dtypes(include="object").columns
numerical_cols = x.select_dtypes(exclude="object").columns

In [33]:
#categorical_cols = ['cut', 'clarity', 'color']

In [35]:
categorical_cols

['cut', 'clarity', 'color']

In [ ]:
cut_map= ["Fair",'Good', 'Very Good', 'Premium', 'Ideal']
cut_clarity = ["I1",'SI2', 'SI1','VS2', 'VS1', 'VVS2', 'VVS1', 'IF']
cut_color = ['D','E','F','G','H','I','J']

In [14]:
import sklearn as sk
from sklearn.impute import SimpleImputer # handling missing value
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [36]:
# Numerical Pipeline
numerical_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="median")),
        ("Scaler",StandardScaler())
    ]
)

categorical_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ("encoder", OrdinalEncoder(categories=[cut_map,cut_clarity,cut_color])),
        ('scaler',StandardScaler() )
    ]
)

preprocessor = ColumnTransformer([
    ('numerical_pipeline', numerical_pipeline,numerical_cols),
    ('categorical_pipeline',categorical_pipeline, categorical_cols)
])

In [37]:
# Train test split
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(x,y,test_size=0.80, random_state=42)

In [38]:
pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())

,numerical_pipeline__carat,numerical_pipeline__depth,numerical_pipeline__table,numerical_pipeline__x,numerical_pipeline__y,numerical_pipeline__z,categorical_pipeline__cut,categorical_pipeline__clarity,categorical_pipeline__color
0,-1.039377,0.255459,-1.684809,-1.213995,-1.217274,-1.164927,0.874472,2.019877,-0.334417
1,1.515744,-0.304999,-0.636471,1.425859,1.458090,1.365924,0.874472,-0.653108,-1.566080
2,1.515744,1.096146,-0.636471,1.407901,1.376744,1.479670,0.874472,1.351631,0.281414
3,0.635408,-0.491818,-1.160640,0.815281,0.843479,0.768757,0.874472,2.019877,0.281414
4,-0.545530,-0.865457,-0.636471,-0.405877,-0.385742,-0.454014,0.874472,0.015138,-0.950249
...,...,...,...,...,...,...,...,...,...
38709,-0.631416,-1.519324,1.984373,-0.549542,-0.521318,-0.638852,-1.145355,-0.653108,-0.950249
38710,2.396080,0.442278,2.508542,1.910731,1.864817,1.892000,-1.145355,-0.653108,-0.334417
38711,0.914539,0.909327,0.411867,0.985884,0.915786,1.024685,-0.135441,0.015138,0.281414
38712,-1.039377,-0.678638,-0.636471,-1.213995,-1.199197,-1.236019,-1.145355,2.019877,0.281414
38713,-1.039377,-0.024770,0.936036,-1.240933,-1.217274,-1.193364,-1.145355,-1.321355,0.281414